<html class="promo-dashboard">
  <head>
    <meta charset="utf-8">
    <title>loDial</title>
    <link rel="stylesheet" type="text/css" href="../stylesheets/reset.css">
    <link rel="stylesheet" type="text/css" href="../stylesheets/promo-dashboard.css">
    <link href='http://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  </head>
  <body>

    <header class="promo-dash-header">
      <h2 class="promo-welcome">Welcome, Dynamically-Generated Promo</h2>
      <h2 class="dial-low">loDial</h2>
    </header>

    <div class="promo-dash-div">

        <div class="promo-artists">
          <div class="promo-artists-header">
            <h2 class="promo-contacts-h2">My Artists</h2>
            <a class="open-modal" href="#openModal">Add +</a>
          </div>

          <div id="openModal" class="modalDialog">
            <div>

              <a href="#close" title="Close" class="close">X</a>
              <h2 class="modal-title">New Artist</h2>
                <form class="new-artist-form pure-form pure-form-aligned">

                  <div class="new-artist pure-control-group">
                    <label for="new-artist-name">Artist Name</label>
                    <input class="new-artist-name" name="new-artist-name" placeholder="Artist name" />
                  </div>

                  <div class="new-album pure-control-group">
                    <label for="new-album-name">Album Name</label>
                    <input class="new-album-name" name="new-album-name" placeholder="Album name"/>
                  </div>

                  <div class="new-track pure-control-group">
                    <label for="new-track-name">Track Name</label>
                    <input class="new-track-name" name="new-track-name" placeholder="Track name"/>
                  </div>

                  <div class="file-upload-div">
                    <p class="upload-text">Upload file</p>
                    <button class="file-upload pure-button pure-button-primary">Upload</button>
                  </div>

                  <button class="submit-new-artist pure-button">Submit</button>

                </form>
            </div>
          </div>

        <div class="promo-artist-div pure-menu pure-menu-scrollable custom-restricted">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 1</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 2</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 3</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 4</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 5</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 6</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Artist 7</a></li>
            </ul>
          </div>
        </div>

      <div class="promo-contacts">
        <div class="promo-contact-header">
          <h2 class="promo-contacts-h2">My Contacts</h2>
          <a class="promo-contacts-add" href="#">Add +</a>
        </div>
        <div class="promo-contacts-div pure-menu pure-menu-scrollable custom-restricted">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 1</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 2</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 3</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 4</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 5</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 6</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
            </ul>
          </div>
        </div>

      <div class="other-div">
          <h2 class="other-stuff-h2">Other Stuff TBD</h2>
        <div class="promo-other-div pure-menu pure-menu-scrollable custom-restricted">
            <ul class="pure-menu-list">
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 1</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 2</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 3</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 4</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 5</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 6</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
                <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 7</a></li>
            </ul>
        </div>
      </div>

    </div>

    <script src="../scripts/promo-dashboard.js"></script>
  </body>
</html>
