<div>

  <a class="close">X</a>
  <h2 class="modal-title">
    New Artist
  </h2>

  <form class="new-artist-form pure-form pure-form-aligned">

    <div class="new-artist pure-control-group">
      <label for="new-artist-name">Artist Name</label>
      <input class="new-artist-name" name="new-artist-name" placeholder="Artist name" />
    </div>

    <div class="new-album pure-control-group">
      <label for="new-album-name">Album Name</label>
      <input class="new-album-name" name="new-album-name" placeholder="Album name" />
    </div>

    <div class="new-track pure-control-group">
      <label for="new-track-name">Track Name</label>
      <input class="new-track-name" name="new-track-name" placeholder="Track name" />
    </div>

    <div class="new-track pure-control-group">
      <label for="new-track-name">Bio</label>
      <input class="new-artist-bio" name="new-artist-bio" placeholder="Bio" />
    </div>

      <label for="new-picture-file-1">Picture 1</label>
      <input class="new-picture-file-1" type="file">

      <label for="new-picture-file-2">Picture 2</label>
      <input class="new-picture-file-2" type="file">

      <label for="new-picture-file-3">Picture 3</label>
      <input class="new-picture-file-3" type="file">

      <label for="new-picture-file-4">Picture 4</label>
      <input class="new-picture-file-4" type="file">

      <label for="new-picture-file-5">Picture 5</label>
      <input class="new-picture-file-5" type="file">

      <label for="new-music-file">Sample Track</label>
      <input class="new-music-file" type="file">

    <button class="submit-new-artist pure-button" type="button">Submit</button>

  </form>

</div>
