<div class="promo-contact-header">
  <h2 class="promo-contacts-h2">My Contacts</h2>
  <a class="new-contact promo-contacts-add">Add +</a>
</div>

<div class="promo-contacts-div pure-menu pure-menu-scrollable custom-restricted">
    <ul class="pure-menu-list">
      <% stations.forEach(function(station) { %>
        <li class="pure-menu-item">
          <a class="pure-menu-link"><%- station.name %></a>
        </li>
      <% }) %>
    </ul>
</div>
