<div class="dash-div">

  <div class="promo-artists-header">
    <h2 class="promo-contacts-h2">My Artists</h2>
    <a class="add-artist open-modal">Add +</a>
  </div>

  <% artists.forEach(function(artist) { %>

  <div class="station-artist">
    <div>
      <div class="station-artist-name"><%- artist.name %></div>
      <div class="station-artist-profile" style="background-image: url(<%- artist.picture_upload_1_file %>);"></div>
    </div>
  <a class="station-artist-remove">X</a>
  </div>

  <% }) %>

</div>
