<header class="promo-dash-header">
  <h2 class="promo-welcome">Welcome, <%- Radion.userName %> </h2>
  <h2 class="dial-low"><a>loDial</a></h2>
</header>

<div class="promo-dash-div">
  <div class="promo-contacts"></div>
  <div class="promo-artists"></div>
</div>

<div class="artist-modal"></div>
<div class="contact-modal"></div>
