<div class="dash-div">
  <div class="contacts"></div>
  <div class="promo-station-info">
    <div class="promo-chart"></div>
    <div class="promo-feedbacks"></div>
  </div>
  <div class="contact-modal"></div>
</div>
