<h2 class="promo-contacts-h2">My Contacts</h2>
<div class="promo-contacts-div pure-menu pure-menu-scrollable custom-restricted">
  <% promoters.forEach(function(promoter) { %>
    <li class="pure-menu-item"><%- promoter.name %></li>
  <% }) %>
</div>
