<div class="music-player">
  <audio controls>
    <source src="<%- artist.uploaded_file %>">
  </audio>
</div>

<form class="listen-form pure-form pure-form-aligned">
  <label for="comment-box">Comments</label>
  <input class="comment-box pure-input-2-3" name="comment-box" placeholder="Comments"><br>

  <div class="checkbox">
    <input type="checkbox" name="cd" class="cd-checkbox" value="physical-cd"> Mail Me a Physical CD
    <input type="checkbox" name="digital-cd" class="digital-cd" value="digital-cd"> Send me a Digital CD
  </div>

  <button class="btn-listen-pg">Submit +</button>

</form>
