<div class="promo-artists-header">
  <h2 class="promo-contacts-h2">My Artists</h2>
  <a class="open-modal">Add +</a>
</div>

<div id="openModal" class="modalDialog">
  <div>

    <a class="close">X</a>
    <h2 class="modal-title">New Artist</h2>

    <form class="new-artist-form pure-form pure-form-aligned">

      <div class="new-artist pure-control-group">
        <label for="new-artist-name">Artist Name</label>
        <input class="new-artist-name" name="new-artist-name" placeholder="Artist name" />
      </div>

      <div class="new-album pure-control-group">
        <label for="new-album-name">Album Name</label>
        <input class="new-album-name" name="new-album-name" placeholder="Album name"/>
      </div>

      <div class="new-track pure-control-group">
        <label for="new-track-name">Track Name</label>
        <input class="new-track-name" name="new-track-name" placeholder="Track name"/>
      </div>

      <div class="file-upload-div">
        <input class="new-music-file" type="file">
      </div>

      <button class="submit-new-artist pure-button" type="button">Submit</button>

    </form>

  </div>

</div>

<div class="promo-artist-div pure-menu pure-menu-scrollable custom-restricted">
  <ul class="pure-menu-list">
  <% artists.forEach(function(artist) { %>
    <li class="pure-menu-item artist-link"><a class="pure-menu-link"><%- artist.name %></a></li>
  <% }) %>
  </ul>
</div>
