<div class="station-artists-header">
  <h2 class="station-contacts-h2">My Artists</h2>
</div>

<div class="station-artist-div pure-menu pure-menu-scrollable custom-restricted">
  <ul class="pure-menu-list">
  <% artists.forEach(function(artist) { %>
    <li class="pure-menu-item"><a href="#listen/<%- artist.id %>" class="pure-menu-link"><%- artist.name %></a></li>
  <% }) %>
  </ul>
</div>
