.artist {
  color: white;
  position: relative;
  margin-bottom: 1.5em;
}

.artist-name {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  z-index: 2;
  text-align: center;
  background: rgba(235, 114, 96, 0.9);
  width: 100%;
  padding: 0.5em;
  color: white;
  text-decoration: none;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
}

.artist-profile {
  background-size: cover;
  -moz-border-radius: 0px;
  -webkit-border-radius: 0px 0px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  &:after{
    content: '';
    display: block;
    padding-top: 90%;
  }
}

#artist-route:hover .artist-name {
  display: block;
}

.remove-station-artist {
  color: white;
}
