/*contacts*/

.all-contacts {
  position: absolute;
  width: 100%;
}

.btn-add-contact:hover {
  color: #91ada9;
}

.contact {
  position: absolute;
  left: 0;
}

.remove-contact {
  position: absolute;
  right: 0;
  border: none;
  color: #eb7260;
  background-color: #FFFFFE;
}

.remove-contact:hover {
  color: #91ada9;
  background-color: #f0f1ee;
}
