.dash-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 2em;
}

.contacts {
  position: absolute;
  @include span-columns(3 of 15, block-collapse);
  background: #f0f1ee;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  border-right: 1px dotted #ccc9c9;
}

.contact-header {
  width: 100%;
  display: block;
  margin-bottom: 1em;
  border-bottom: 1.9px dotted #ccc9c9;
}

.contacts h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  margin-top: 1.5em;
}

.contacts-add {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  padding: 0.2em;
  color: #eb7260;
  margin-top: -0.2em;
  margin-left: 21em;
  border: 1px solid #eb7260;
}

.contacts-add:hover {
  color: #91ada9;
  border: 1px solid #91ada9;
}

.contacts a {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

.contacts a:hover {
  background-color: #FFFFFE;
}
