body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*header*/
.dash-header {
  position: fixed;
  width: 100%;
  background-color: #eb7260;
  box-shadow: 0px 2px 2px 0px gray;
  z-index: 10;
}

.drop {
  margin-top: 1em;
  margin-right: 2em;
  display: inline-block;
  float: right;
  font-size: 1.2em;
  font-family: 'Roboto Condensed', sans-serif;
  color: #FFFFFE;
}

.dial-low {
  padding: 0.3em;
  margin-right: 0.5em;
  font-family: 'Megrim', cursive;
  font-size: 2em;
  float: left;
}

.dial-low a {
  text-decoration: none;
  right: 0 auto;
  color: #FFFFFE;
}

.logout {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 2em;
  height: 2em;
}

.logout a {
  position: relative;
  color: #eb7260;
  border: 2px solid #eb7260;
  padding: 0.3em;
}

.logout a:hover {
  color: #91ada9;
  border: 2px solid #91ada9;
}
