body {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

main {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/*header*/
.dash-header {
  position: fixed;
  width: 100%;
  background-color: #eb7260;
  box-shadow: 0px 1px 1px 0px gray;
  z-index: 10;
}

.dial-low {
  padding: 0.3em;
  margin-right: 2em;
  font-family: 'Megrim', cursive;
  font-size: 2em;
  float: left;
}

.dial-low a {
  text-decoration: none;
  right: 0 auto;
  color: #FFFFFE;
}

/*Remove*/

// .remove {
//   z-index: 3;
//   background: #eb7260;
//   color: #FFFFFF;
//   line-height: 25px;
//   position: absolute;
//   right: -12px;
//   text-align: center;
//   top: -10px;
//   width: 24px;
//   cursor: pointer;
//   text-decoration: none;
//   font-weight: bold;
//   -webkit-border-radius: 12px;
//   -moz-border-radius: 12px;
//   border-radius: 12px;
//   -moz-box-shadow: 1px 1px 3px #000;
//   -webkit-box-shadow: 1px 1px 3px #000;
//   box-shadow: 1px 1px 3px #000;
// }

.remove:hover {
  background: #91ada9;
}

#primary_nav_wrap {
	margin-top:15px
}

#primary_nav_wrap ul {
	list-style: none;
	position: relative;
  float: right;
	margin-right: 3em;
	padding: 0;
}

#primary_nav_wrap ul a {
	display: block;
	text-decoration: none;
	font-weight: 300;
	font-size: 1.2em;
	line-height: 1.5em;
  padding-right: 0.5;
  padding-bottom: 0.5;
  padding-left: 0.5;
  color: #423f40;
  font-family: 'Roboto Condensed', sans-serif;
}

#primary_nav_wrap ul li {
	position:relative;
	float:left;
	margin:0;
	padding:0;
}

#primary_nav_wrap ul li.current-menu-item {
	background: #ddd;
}

#primary_nav_wrap ul li:hover {
	background: #eb7260;
}

#primary_nav_wrap ul ul {
	display:none;
	position:absolute;
	top:100%;
	left:0;
	background:#fff;
	padding:0;
}

#primary_nav_wrap ul ul li {
	float: none;
	width: 7.35em;
}

#primary_nav_wrap ul ul a {
	padding: 0.5em;
}

#primary_nav_wrap ul ul ul {
	left: 100%
}

#primary_nav_wrap ul li:hover > ul {
	display: block
}

#drop-down {
  color: #FFFFFE;
  padding-bottom: 5em;
}

#drop-down:hover {
  background-color: #FFFFFE;
  color: #91ada9;
}
