.listen-html {
  overflow-y: hidden;
  overflow-x: scroll;
}

.picture-div img {
  position: fixed;
  display: block;
  top: 0;
  width: 80%;
  height: 100%;
  margin-left: -10em;
  margin-right: 0;
  margin-bottom: 0;
  float: left;
  z-index: 1;
}

.info-div {
  display: block;
  position: absolute;
  width: 68em;
  height: 100%;
  margin-right: -40em;
  background-color: #f0f1ee;
  top: 0;
  right: 0;
  margin-left: 0;
  margin-bottom: 0;
  z-index: 2;
}

.listen-artist-name {
  position: relative;
  display: inline-block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3em;
  color: #423f40;
  margin-top: 2em;
  margin-left: 1em;
  margin-right: 9em;
}

.album-name {
  font-family: 'Roboto Condensed', sans-serif;
  font-style: italic;
  position: relative;
  float: left;
  font-size: 2em;
  margin-top: 0.5em;
  color: #423f40;
  margin-left: 1.5em;
  margin-right: 9em;
  width: 18.5em;
  padding-bottom: 1em;
  border-bottom: 1.5px dotted #ccc9c9;
}

.music-div {
  z-index: 1;
}

.song-name {
  z-index: 1;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  margin-top: 1em;
  margin-left: 2em;
  padding-bottom: 0.5em;
  width: 26.5em;
  color: #423f40;
  border-bottom: 1.5px dotted #ccc9c9;
}

#listen-picture-div {
  position: absolute;
  margin-top: 2em;
  margin-left: 3em;
  white-space: nowrap;
  width: 57%;
  display: table;
}

.logo-image {
  display: table-cell;
}

.logo-image img {
  width: 8em;
  max-width: 100%;
  height: 9em;
}

label.listen-options input {
  display:none;
}

label.listen-options span {
  cursor: pointer;
  color: #eb7260;
}

label.listen-options span:hover {
  color: #91ada9;
}

label.listen-options input:checked + span {
  color: #91ada9;
}

.icons {
  display: inline-block;
  position: relative;
  padding-top: 0.3em;
  margin-top: 0.5em;
}

.divider {
  color: #eb7260;
}

.divider:hover {
  color: #eb7260;
}

.comments {
  position: absolute;
  text-align: center;
  z-index: 5;
  display: block;
  background-color: #FFFFFE;
  width: 63.5%;
  height: 30em;
}

.text-area-div {
  position: relative;
  width: 100%;
  padding-top: 2em;
}

.text-area {
  position: relative;
  width: 25em;
  height: 8em;
}

.btn-listen-pg {
  background-color: #FFFFFE;
  margin-top: 2em;
  color: #eb7260;
  border: 2px solid #eb7260;
  width: 25em;
  height: 2em;
}

.btn-listen-pg:hover {
  color: #78c0a8;
  border: 2px solid #78c0a8;
}

.slider {
 z-index: 100;
 overflow: hidden;
 position: absolute;
 height: 100%;
 width: 100%;
}

.comments {
position: absolute;
bottom: -4em;
}

.bio-div {
  z-index: 2;
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  height: 100%;
  background-color: #FFFFFE;
  width: 25em;
}

.bio {
  right: 0;
  position: absolute;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: #423f40;
  margin-top: 6em;
  margin-bottom: 5em;
  margin-left: 2em;
  margin-right: 4em;
}

#down-icon {
  font-size: 2em;
  display: inline-block;
  position: relative;
  float: right;
  margin: 1.5em 4em auto auto;
  color: #eb7260;
}

#down-icon:hover {
  color: #78c0a8;
}

#audio-player  {
  z-index: 2000;
  display: block;
  position: relative;
	width: 37em;
	height: 4em;
	margin: 0 auto;
  margin-left: 3em;
  margin-top: 6em;
  background-color: #FFFFFE;
  box-shadow: 0px 3px 3px 0px gray;
}

#pButton  {
  height: 4em;
  width: 5em;
  border: none;
  background-size: 70% 70%;
  background-repeat: no-repeat;
  background-position: center;
  float:left;
  outline: none;
  color: #FFFFFE;
  background-color: #eb7260;
  margin-right: 3em;
}

#pButton:hover {
  background-color: #91ada9;
}

.play{background: image-url('play.svg') ;}
.pause{background: image-url('pause.svg') ;}

#timeline {
	width: 70%;
	height: 1.2em;
	margin-top: 20px;
	float: left;
	border-radius: 15px;
	background: #E3E3E3;
  position: relative;
}

#playhead {
  position: absolute;
	width: 18px;
	height: 18px;
  left: 0;
  top: 0;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0,1);
}

.listen-lodial-div {
  background-color: #eb7260;
}

.listen-lodial:hover {
   -webkit-transform: translateY(-30px);
   transform: translateY(-30px);
   background-color: #eb7260;
   transition-property: background, border-radius;
   transition-duration: .1s;
   transition-timing-function: linear;
   cursor: pointer;
}
