a {
  text-decoration: none;
}

.login-html {
  background: rgba(255, 255, 255, 1) url("../images2.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login-header {
  z-index: 1;
  text-align: center;
  background-color: #eb7260;
  box-shadow: 0px 2px 2px 0px #FFFFFE;
}

.dial {
  margin-top: -0.05em;
  font-family: 'Megrim', cursive;
  font-size: 6em;
  color: #FFFFFE;
  position: relative;
}

.login-div {
  z-index: 0;
  width: 40%;
  text-align: center;
  background-color: #FFFFFE;
  padding-top: 2em;
  padding-bottom: 2em;
  margin: 0 auto;
  padding: 3em;
  border-radius: 10px;
  box-shadow: 0px 5px 5px 0px #423f40;
}

.email-login-div, .password-login-div {
  width: 100%;
  color: #eb7260;
}

.email-login-div {
  display: inline-block;
  float: left;
  margin-bottom: 0.5em;
}

.btn-login {
  margin-top: 2em;
  width: 100%;
  height: 2em;
  background-color: #FFFFFE;
  color: #91ada9;
  border: 2px solid #91ada9;
}

.btn-login:hover {
  color: #eb7260;
  border: 2px solid #eb7260;
}

.radio-btn-label {
  padding-top: 2em;
  margin-top: 1em;
  color: #eb7260;
  text-align: center;
  border-bottom: 0.1em dashed #f00;
  height: 0.5em;
}

.radio-btn-label span {
  display: inline-block;
  background: #fff;
  padding:0 0.25em;
}

.login-represent-div button {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  background: #FFFFFE;
  color: #eb7260;
  width: 48%;
  height: 2em;
  border: none;
  padding: 0.3em;
  border: 2px solid #eb7260;
}

.login-represent-div button:hover {
  background-color: #FFFFFE;
  color: #91ada9;
  border: 2px solid #91ada9;
}

.login-btns {
  margin-top: 2em;
  padding-bottom: 2em;
}

.login-btns a {
  color: #eb7260;
  border: 2px solid #eb7260;
  padding: 0.2em;
  width: 45%;
}

.login-btns a:hover {
  color: #91ada9;
  border: 2px solid #91ada9;
}

.btn-radio-register {
  position: relative;
  float: left;
}

.btn-promo-register {
  position: relative;
  float: right;
}

.login-footer {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin-top: 3em;
  color: #91ada9;
}

.login-footer-title {
  font-family: 'Megrim', cursive;
}
