.dash-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 3em;
}

.promo-artists {
  position: absolute;
  background: #E0DEDE;
  @include span-columns(15 of 15, block-collapse);
  padding: modular-scale(1, 1em, $golden);
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
}

.promo-artists-header {
  @include span-columns(15 of 15);
  text-align: center;
  display: block;
}

.promo-artist {
  @include omega(5n);
  @include span-columns(3 of 15);
}

.add-artist {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: -2em;
}

.promo-artists h2, .promo-contacts h2 {
  color: #eb7260;
  margin-bottom: 1em;
}

.promo-artists h2 {
  display: inline-block;
  float: left;
}

.promo-artist-div, .promo-contacts-div, .promo-other-div {
  background-color: #FFFFFE;
  z-index: 1;
}

.promo-other-div {
  z-index: 1;
  position: relative;
  height: 8em;
  width: 63em;
}

.other-div {
  position: relative;
  margin-left: 2em;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 4;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog.showing {
  display: block;
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
  position: relative;
	width: 40em;
  height: 30em;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}

.close {
	background: #eb7260;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
  cursor: pointer;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #91ada9;
  }

.open-modal {
  display: inline-block;
  float: right;
  cursor: pointer;
  text-decoration: none;
  padding: 0.2em;
  color: #eb7260;
  margin-top: -0.2em;
  border: 1px solid #eb7260;
}

.open-modal:hover {
  color: #91ada9;
  border: 1px solid #91ada9;
}

.modal-title {
  font-size: 2em;
  margin-top: 0.3em;
  font-family: 'Roboto Condensed', sans-serif;
  color: #423f40;
}

.new-artist-form {
  text-align: center;
  margin-top: 1em;
}

.new-artist-form input {
  width: 100%;
}

.new-artist-form button {
  width: 100%;
  color: #eb7260;
  background: #FFFFFE;
  border: 2px solid #eb7260;
  margin-top: 1.5em;
}

.new-artist-form button:hover {
  color: #91ada9;
  border: 2px solid #91ada9;
}

.picture-upload {
  cursor: pointer;
  width: 50%;
  position: relative;
  display: inline-block;
}

.picture-upload input {
  width: 1px;
  position: absolute;
  outline: none;
  z-index: 1;
}

.picture-upload-label {
  position: relative;
  display: block;
  border: 1px dashed #91ada9;
  background: #FFFFFE;
  color: #999;
  text-align: center;
  padding: 0.5em;
  z-index: 2;
  min-width: 10em;
}

.picture-group-1 {
  position: relative;
  width: 100%;
}

#pu1, #pu2, #pu3 {
  float: left;
}

.new-artist-bio {
  width: 100%;
  height: 5em;
}
