.dash-div {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 3em;
}

.promo-artists {
  position: absolute;
  background: #E0DEDE;
  @include span-columns(15 of 15, block-collapse);
  padding: modular-scale(1, 1em, $golden);
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
}

.promo-artists-header {
  @include span-columns(15 of 15);
  text-align: center;
  display: block;
}

.promo-artist {
  @include omega(5n);
  @include span-columns(3 of 15);
}

.add-artist {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: -2em;
}

.promo-artists h2, .promo-contacts h2 {
  color: #eb7260;
  margin-bottom: 1em;
}

.promo-artists h2 {
  display: inline-block;
  float: left;
}

.promo-artist-div, .promo-contacts-div, .promo-other-div {
  background-color: #FFFFFE;
  z-index: 1;
}

.promo-other-div {
  z-index: 1;
  position: relative;
  height: 8em;
  width: 63em;
}

.other-div {
  position: relative;
  margin-left: 2em;
}
