.promo-register-html {
  background: rgba(255, 255, 255, 1) url("../images2.jpeg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.promo-register-header {
  z-index: 1;
  text-align: center;
  background-color: #eb7260;
  box-shadow: 0px 2px 2px 0px #FFFFFE;
}

.dial {
  margin-top: -0.05em;
  font-family: 'Megrim', cursive;
  font-size: 6em;
  color: #FFFFFE;
  position: relative;
}

.new-promo-heading {
  color: #91ada9;
  margin-bottom: 1em;
  font-family: sans-serif;
  font-size: 1.5em;
  font-family: 'Roboto Condensed', sans-serif;
}

.promo-lodial {
  font-family: 'Megrim', cursive;
}

.promo-register-div {
  z-index: 0;
  width: 40%;
  text-align: center;
  background-color: #FFFFFE;
  margin: 0 auto;
  padding: 3em;
  border-radius: 10px;
  margin-top: -1em;
  box-shadow: 0px 5px 5px 0px #423f40;
}

.promo-register-div div {
  margin-bottom: 0.5em;
}

.btn-create-promo {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
  background: #FFFFFE;
  color: #91ada9;
  width: 100%;
  height: 2em;
  border: none;
  padding: 0.5em;
  border: 2px solid #91ada9;
}

.btn-create-promo:hover {
  background-color: #FFFFFE;
  color: #eb7260;
  border: 2px solid #eb7260;
}

.btn-create-promo-div {
  margin-top: 2em;
  width: 100%;
}

.file-upload {
  margin-top: 0.5em;
  padding-bottom: 1em;
}

.register-footer {
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
  margin-top: 2em;
  margin-bottom: 2em;
  color: #91ada9;
}

.footer-title {
  font-family: 'Megrim', cursive;
}
