/*dashboard background*/

.promo-dashboard {
  background: #e0dede;
}

/*dashboard content*/

.custom-restricted {
  position: relative;
  z-index: 1;
  height: 15em;
  width: 30em;
  border-radius: 4px;
  border: 1px solid #eae4da;
  -moz-box-shadow: inset 0 -10px 10px -10px #aaa9a9;
  -webkit-box-shadow: inset 0 -10px 10px -10px #aaa9a9;
  box-shadow: inset 0 -10px 10px -10px #aaa9a9;
}

.promo-feedbacks {
  overflow: auto;
  position: absolute;
  @include span-columns(12 of 15);
  z-index: 1;
  display: inline-block;
  padding: modular-scale(1, 1em, $golden);
  top: 0;
  bottom: 0;
  right: 0;
}

.feedback-header {
  @include span-columns(12 of 12);
}

.promo-feedback {
  background: white;
  color: #21252B;
  position: relative;
  @include span-columns(12 of 12);
  margin-bottom: 1.5em;
  padding: 1%;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.feedback-profile {
  display: inline-block;
  width: 8%;
  background-size: cover;
  -moz-border-radius: 0px;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  &:after{
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.feedback-text {
  width: 90%;
  display: inline-block;
}

.feedback-comment {
  width: 45%;
  display: inline-block;
}

.feedback-request {
  width: 45%;
  display: inline-block;
}
