.promo-dashboard {
  background: #F0F1EE;
}

.promo-feedbacks {
  overflow: auto;
  position: absolute;
  @include span-columns(12 of 15);
  z-index: 1;
  display: inline-block;
  padding: modular-scale(1, 1em, $golden);
  top: 0;
  bottom: 0;
  right: 0;
}

.feedback-header {
  top: 5em;
  margin-top: 0.5em;
  z-index: 2;
}

.feedback-header h2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.radio-reviewer {
  float: right;
  margin: 10px;
  position: absolute;
  top: 0;
  padding-right: 2em;
  font-family: 'Roboto Condensed', sans-serif;
  color: #423f40;
  font-size: 1.2em;
}

.remove-negative-feedback {
  display: inline-block;
  float: right;
  margin-top: -2em;
}

.promo-feedback {
  background: #FFFFFE;
  color: #21252B;
  position: relative;
  @include span-columns(12 of 12);
  margin-bottom: 0.2em;
  margin-left: 0;
  margin-right: 0;
  padding-top: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  border-right: 1px solid #F0F1EE;
}

.feedback-profile {
  display: inline-block;
  width: 9%;
  background-size: cover;
  z-index: 2;
  -moz-border-radius: 0px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  &:after{
    content: '';
    display: block;
    padding-bottom: 100%;
  }
}

.feedback-text {
  width: 90%;
  display: inline-block;
}

.feedback-comment {
  width: 60%;
  display: inline-block;
}

.feedback-request {
  font-family: 'Roboto Condensed', sans-serif;
  width: 30%;
  display: inline-block;
}

.artist-reviewed {
  font-family: 'Roboto Condensed', sans-serif;
  color: #423f40;
}

.feedback-quote {
  font-family: 'Roboto Condensed', sans-serif;
  color: #423f40;
  font-style: italic;
}

.rejection-message {
  font-family: 'Roboto Condensed', sans-serif;
  width: 30%;
  display: inline-block;
  float: right;
  margin-right: 4em;
  margin-top: -2em;
}

.remove-promoter-feedback {
  border: none;
  float: right;
  position: relative;
  vertical-align: middle;
  top: 0;
  cursor: pointer;
}
