/*dashboard background*/

.station-dashboard {
  background: #e0dede;
}

/*dashboard content*/

.station-artists {
  overflow: auto;
  position: absolute;
  @include span-columns(12 of 15);
  z-index: 1;
  display: inline-block;
  padding: modular-scale(1, 1em, $golden);
  top: 0;
  bottom: 0;
  right: 0;
}

.artists-header {
  @include span-columns(12 of 12);
}

.station-artists h2 {
  display: inline-block;
}

.station-artist {
  @include omega(4n);
  @include span-columns(3 of 12);
}
