<div class="artists-header">
  <h2 class="pure-menu-heading">New Artists</h2>


<% artists.forEach(function(artist) { %>

<div class="artist station-artist">
  <input type="hidden" name="artist-id" data-artist-id="<%- artist.id %>">
  <a id="artist-route" class="ranking-artist">
      <div class="artist-name js-album-name"><%- artist.album_name %> by <%- artist.artist_name %></div>
      <div class="artist-profile js-" style="background-image: url(<%- artist.picture_upload_1_file %>);"></div>
  </a>
</div>

<% }) %>

</div>
