<header class="station-dash-header">
  <h2 class="station-welcome">Welcome, </h2>
  <h2 class="dial-low"><a>loDial</a></h2>
</header>

<div class="station-dash-div">
  <div class="station-contacts"></div>
  <div class="station-artists"></div>
</div>
