<h2 class="promo-contacts-h2">My Contacts</h2>
<div class="promo-contacts-div pure-menu pure-menu-scrollable custom-restricted">
  <% stations.forEach(function(station) { %>
    <li class="pure-menu-item"><%- station.name %></li>
  <% }) %>
</div>
