<div class="artists-header">
  <h2 class="pure-menu-heading">New Artists</h2>
</div>

<% artists.forEach(function(artist) { %>

<div class="station-artist">
<a href="#listen/<%- artist.id %>">
  <div>
    <div class="station-artist-name"><%- artist.name %></div>
    <div class="station-artist-profile" style="background-image: url(<%- artist.picture_upload_1_file %>);"></div>
  </div>
</a>
<a class="station-artist-remove">X</a>
</div>

<% }) %>
