<h2 class="promo-contacts-h2">My Contacts</h2>
<div class="promo-contacts-div pure-menu pure-menu-scrollable custom-restricted">
  <ul class="pure-menu-list">
    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Contact 1</a></li>
  </ul>
</div>
