<div class="pure-menu custom-restricted-width">

<div class="contact-header">
  <h2 class="pure-menu-heading">Contacts</h2>
</div>

<ul class="pure-menu-list">
  <% promoters.forEach(function(promoter) { %>
    <li class="contact pure-menu-item">
      <a href="#" class="pure-menu-link"><%- promoter.name %></a>
    </li>
  <% }) %>
</ul

</div>
