// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.dashboard-body {
  background-color: #4c4849;
}

/*header*/
.promo-dash-header {
  position: fixed;
  width: 100%;
  background-color: #FFFFFE;
}

.promo-welcome {
  margin-top: 1em;
  margin-right: 2em;
  display: inline-block;
  float: right;
  font-size: 1.2em;
  font-family: 'Roboto Condensed', sans-serif;
  color: #eb7260;
}

.dial-low {
  padding: 0.3em;
  margin-right: 0.5em;
  font-family: 'Megrim', cursive;
  font-size: 2em;
  float: left;
}

.dial-low a {
  text-decoration: none;
  right: 0 auto;
  color: #eb7260;
}

/*dashboard content*/
.promo-dash-div {
  position: absolute;
  width: 100%;
  padding-top: 3em;
}

.promo-contacts {
  position: relative;
  display: inline-block;
  margin-left: 2em;
  margin-top: 3em;
}

.custom-restricted {
  height: 15em;
  width: 30em;
  border: 1px solid gray;
  border-radius: 4px;
}

.promo-artists {
  z-index: 1000;
  position: relative;
  display: inline-block;
  margin-top: 2em;
  float: right;
  margin-right: 2em;
  margin-bottom: 4em;
}

.btn-new-artist {
  position: relative;
  display: inline-block;
  float: right;
  margin-top: -2em;
}

.promo-artists h2, .promo-contacts h2 {
  color: #eb7260;
  margin-bottom: 1em;
}

.promo-artists h2 {
  display: inline-block;
  float: left;
}

.promo-artist-div, .promo-contacts-div, .promo-other-div {
  background-color: #FFFFFE;
}

.promo-contacts {
  position: absolute;
  display: inline-block;
  margin-top: 2em;
  width: 60em;
}

.promo-other-div {
  z-index: 1;
  position: relative;
  height: 8em;
  width: 63em;
}

.other-div {
  position: relative;
  margin-left: 2em;
}

.other-div h2 {
  color: #eb7260;
  margin-bottom: 1em;
  margin-top: 21em;
}

.modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	width: 25em;
  height: 20em;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
}

.close {
	background: #eb7260;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover {
  background: #91ada9;
  }

.open-modal {
  display: inline-block;
  float: right;
  cursor: pointer;
  text-decoration: none;
  padding: 0.2em;
  color: #eb7260;
  margin-top: -0.2em;
  border: 1px solid #eb7260;
}

.open-modal:hover {
  color: #91ada9;
  border: 1px solid #91ada9;
}

.modal-title {
  font-size: 1.5em;
  margin-bottom: 2em;
  margin-top: 0.3em;
}

.new-artist-form {
  text-align: center;
  margin-top: 4em;
}

.file-upload-div {
  width: 100%;
  margin-top: 1em;
  padding-bottom: 2em;
}

.upload-text {
  position: relative;
  display: inline-block;
  float: left;
  margin-left: 2em;
}

.file-upload {
  position: relative;
  display: inline-block;
  float: right;
  margin-right: 2em;
}

.submit-new-artist {
  color: #91ada9;
  background: #91ada9;
}
