<div class="pure-menu custom-restricted-width">

  <div class="contact-header">
    <h2 class="pure-menu-heading">Contacts</h2>
    <button type="button" class="new-contact">+</button>
  </div>

  <ul class="all-contacts pure-menu-list">
    <li class="all-contact pure-menu-item">
      <a class="pure-menu-link all-notes">All Contacts</a>
    </li>
    <% contacts.forEach(function(contact) { %>
      <li class="contact pure-menu-item">
        <a class="pure-menu-link single-note" data-contact-id="<%- contact.id %>"><%- contact.name %>
        <button type="button" class="remove-contact" data-contact-id="<%- contact.id %>">X</button>
        </a>
      </li>
    <% }) %>
  </ul

</div>
