<div class="pure-menu custom-restricted-width">

  <div class="contact-header">
    <h2 class="pure-menu-heading">Contacts</h2>
  </div>

  <ul class="all-contacts pure-menu-list">
    <li class="all-contact pure-menu-item">
      <a class="pure-menu-link">All Contacts</a>
    </li>
    <% contacts.forEach(function(contact) { %>
      <li class="contact pure-menu-item">
        <a class="pure-menu-link"><%- contact.name %>
        <button type="button" class="remove-contact">X</button></a>
      </li>
    <% }) %>
  </ul

</div>
