<div>

  <a class="close">X</a>
  <h2 class="modal-title">
    All <% if(Radion.userType === "promoters") { %>Stations<% } %><% if(Radion.userType === "stations") { %>Promoters<% } %>
  </h2>

  <div class="all-contacts-menu pure-menu pure-menu-scrollable">

    <ul class="all-contacts-list pure-menu-list">
      <% users.forEach(function(user) { %>
        <div>
          <li class="pure-menu-item">
            <a class="contact-a pure-menu-link"><%- user.name %><button type="button" class="btn-add-contact" data-user-id="<%- user.id %>">+</button></a>
          </li>
        </div>
      <% }) %>
    </ul>

  </div>

</div>
