<header class="promo-dash-header">
  <h2 class="promo-welcome">Welcome, Dynamically-Generated Promo</h2>
  <h2 class="dial-low"><a href="#">loDial</a></h2>
</header>

<div class="promo-dash-div">
  <div class="station-list"></div>
  <div class="artist-list"></div>
</div>
